header {
    margin-left: 20px;
    height: 85px;
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;


}

body {
    margin-left: 20px;
    margin-top: 85px;
    width: 960px;
    border: 100px solid #dddddd;
    border-top: 40px solid #dddddd;
    border-bottom: -500px;
    height: 1300px;
    overflow: auto;

    }
  

footer {
    
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    background-color: #666666;
    height: 40px;
    border-top: 10px solid #4aaaa5;

  }
 
 
  img {
    width: 200px;
    height: 144px;
    margin-top: 25px;
    margin-left: 40px;
    padding-right: 20px;
    float: left;
    }
    
    
    
p {
    color: #777777;
    margin-right: 40px;
    margin-left: 40px;
    line-height: 24pt;
    border-top: solid #cccccc;


}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: white;
    background-color: #4aaaa5;
    line-height: 65px;
    width: 200px;
    text-align: center;

}

contact, aboutme {
    font-size: 20px;
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    background-color: #ffffff;
    line-height: 40px;
    text-align: center;


}



button {
    margin-left: 40px;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;

}

.topnav {
    margin-right: 100px;
    color: #cccccc;
    line-height: 50px;
    float: right;
    padding-top: 50px;
    padding-right: 40px;


}

h3 {
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: white;
    background-color: #4aaaa5;
    line-height: 40px;
    width: 200px;
    text-align: center;
    font-size: 18px;

}

photo {
    
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: white;
    background-color: #4aaaa5;
    line-height: 40px;
    width: 200px;
    text-align: center;
    font-size: 18px;

}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  